body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
   background-color: #bcbec0;
}
.jumbotron{
    background-image: linear-gradient(to bottom, #1c1e25 93%, #00599c 7%);
    background-size: 100% 125px;
    height: 125px;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#companyName{
    margin-bottom: 10px;
    float: left;
    position: absolute;
    left: 225px;
    bottom: -20px;
    width: 200px;
}
#openText{
    position: relative;
    z-index: 1;
    font-weight:  bold;
}


video{
    width: 97%;
    height: auto;
    margin: 10px;
    border: 10px #000 solid;
    border-radius: 10px

}

#blankSpace{
    margin-top: 20px;
}
#body{
    margin-top: 50px;
    margin-bottom: 100px;
    height: auto;
    padding-bottom:50px;
    width: 90%;
    opacity: 1;
    display: block;
}
#homeCarousel{
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: -75px;
    position: relative;
    z-index: 2;
    background-color: #1c1e25;
    border-top: solid 7px #00599c;
    border-bottom: solid 8px #1c1e25;
    border-right: solid 8px #1c1e25;
    border-left: solid 8px #1c1e25;

}
#openText{
    position: absolute;
    top: -200px;
    background-color: white;
    border-radius: 10px;
    opacity: .75;
    padding: 10px
}
#homeText{
    margin-bottom: 25px;
    width: 75%;
}
#videoPage{
    background: none;
    border: none;
    
}
#videoPage:focus{
    outline: none;
}
.dropdown-toggle::after{
    display: none;
}
#aboutBackground{
    width:95%;
    height:95%;
    float: left;
}
#aboutDropdown{
    margin-top: 25px;
    margin-left:80%;
    margin-bottom:25px;
}
#aboutPageText{
    float: left;
    width: 50%;
    background-color: black
}
.container{
    position: relative;
    text-align: center;
}
#footer{
    background-image: linear-gradient(to top, #1c1e25 95%, #00599c 5% );
    width:100%;
    height: 125px;
    background-size: 100% 200px;
    margin-bottom: -6px;
}
.card-body{
    height: 150px;
    background-color: #1c1e25;
    color: white
}
.card-header{
    background-color: white;
    border-bottom: 10px solid #00599c;
}
#inputContact{
    border: none;
    border-bottom:2px solid black;
    text-align: left;
    background-color:  white;
    font-size: 16px;
    padding-bottom: 0px;
    outline: none;
}
#textareaContact{
    border: none;
    border: 5px solid #1c1e25;;
    border-top: solid 4px #00599c;
    border-radius: 5px;
    text-align: left;
    background-color: white;
    height: 150px;
    padding: 6px;
    outline: none;
    color: black;
    font-size: 16px;
}
#submitContact{
    border: #1c1e25 4px solid;
    color: #1c1e25;
    padding-top: 10px;
    border-radius: 50px;
    margin-top: 12%;
    margin-right: 20%;
    

}
#formContact{
    background-color: white;
    padding-top: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0%;
    margin-left: 0%;
    border-top: solid 7px #00599c;
    border-bottom: solid 8px #1c1e25;
    border-right: solid 8px #1c1e25;
    border-left: solid 8px #1c1e25;
    width: 100%;
}
#titleContact{
    padding-bottom: 10px;
    margin-top: 25px
}
#formHeadingContact{
    padding-bottom: 25px;
    border-bottom: 8px solid #1c1e25;
    width: 100%

}
#pageTitleContact{
    margin-top: 15px;
    margin-bottom: 15px;
}
#titleRowContact{
    background-color: #1c1e25;
    border-bottom: 8px solid #1c1e25;
    border-left: 5px solid #1c1e25;
    border-right: 5px solid #1c1e25;
    border-top: solid 7px #00599c ;
    color: white;
    margin-top: 25px;
}
#cardRowContact{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 7px solid black;
}
#pagetitleContact{
    border-top: solid 7px #00599c ;
    background-color: #1c1e25;
    color: white;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#CK_Contact{
    background-color: white;
    border-top: solid 2px black ;
    padding-top: 25px;
    padding-bottom: 25px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 7px solid black;

}
#licensesContact{
    text-align: left;
}
.ContactPadding{
    padding-bottom: 50px
}